<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_01ca4f05ece3aa1c23c2e6868b9c309a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_01ca4f05ece3aa1c23c2e6868b9c309a" ></div>
        
</body>
<script>
    
    
            var map_01ca4f05ece3aa1c23c2e6868b9c309a = L.map(
                "map_01ca4f05ece3aa1c23c2e6868b9c309a",
                {
                    center: [41.8902, 12.4922],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_181e4d5ecb704dba96429def729f9305 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_01ca4f05ece3aa1c23c2e6868b9c309a);
        
    
            var marker_eb54c77f4798a8a2f0d53c9b16781063 = L.marker(
                [41.8902, 12.4922],
                {}
            ).addTo(map_01ca4f05ece3aa1c23c2e6868b9c309a);
        
    
        var popup_e2ede3b1555717f68095c4d446e93982 = L.popup({"maxWidth": "100%"});

        
            var html_da5ebacd39ed6067979823101eff3116 = $(`<div id="html_da5ebacd39ed6067979823101eff3116" style="width: 100.0%; height: 100.0%;">Koloseum</div>`)[0];
            popup_e2ede3b1555717f68095c4d446e93982.setContent(html_da5ebacd39ed6067979823101eff3116);
        

        marker_eb54c77f4798a8a2f0d53c9b16781063.bindPopup(popup_e2ede3b1555717f68095c4d446e93982)
        ;

        
    
    
            var marker_1d3ef8758aec59fe1d1cf21016e92080 = L.marker(
                [41.8986, 12.4768],
                {}
            ).addTo(map_01ca4f05ece3aa1c23c2e6868b9c309a);
        
    
        var popup_8cc9e85250d7ce03cc8906ac91bea500 = L.popup({"maxWidth": "100%"});

        
            var html_b608a895c53e6861a85e2885844c52c0 = $(`<div id="html_b608a895c53e6861a85e2885844c52c0" style="width: 100.0%; height: 100.0%;">Panteon</div>`)[0];
            popup_8cc9e85250d7ce03cc8906ac91bea500.setContent(html_b608a895c53e6861a85e2885844c52c0);
        

        marker_1d3ef8758aec59fe1d1cf21016e92080.bindPopup(popup_8cc9e85250d7ce03cc8906ac91bea500)
        ;

        
    
    
            var marker_c04a18c206fae03a6d99f427771e5da3 = L.marker(
                [41.9009, 12.4833],
                {}
            ).addTo(map_01ca4f05ece3aa1c23c2e6868b9c309a);
        
    
        var popup_370a78113888a3f004ecad4b6d43ee9c = L.popup({"maxWidth": "100%"});

        
            var html_2537295c5b1fcd3fe5746ca5bb8bcad3 = $(`<div id="html_2537295c5b1fcd3fe5746ca5bb8bcad3" style="width: 100.0%; height: 100.0%;">Fontanna di Trevi</div>`)[0];
            popup_370a78113888a3f004ecad4b6d43ee9c.setContent(html_2537295c5b1fcd3fe5746ca5bb8bcad3);
        

        marker_c04a18c206fae03a6d99f427771e5da3.bindPopup(popup_370a78113888a3f004ecad4b6d43ee9c)
        ;

        
    
    
            var marker_568162a69a979a6d26d44579f4aaecac = L.marker(
                [41.9022, 12.4539],
                {}
            ).addTo(map_01ca4f05ece3aa1c23c2e6868b9c309a);
        
    
        var popup_d1f09cb535dc8d49fc1ad99e6afabe90 = L.popup({"maxWidth": "100%"});

        
            var html_ec309b70e4569635c207ed1daf317337 = $(`<div id="html_ec309b70e4569635c207ed1daf317337" style="width: 100.0%; height: 100.0%;">Bazylika św. Piotra</div>`)[0];
            popup_d1f09cb535dc8d49fc1ad99e6afabe90.setContent(html_ec309b70e4569635c207ed1daf317337);
        

        marker_568162a69a979a6d26d44579f4aaecac.bindPopup(popup_d1f09cb535dc8d49fc1ad99e6afabe90)
        ;

        
    
    
            var marker_983b424a07ee7ec0066c963449965034 = L.marker(
                [41.8992, 12.4731],
                {}
            ).addTo(map_01ca4f05ece3aa1c23c2e6868b9c309a);
        
    
        var popup_2cf0449ebbab0a90f4fffa1ff385e05a = L.popup({"maxWidth": "100%"});

        
            var html_9b2f739a2a9d34dcec81aac7df65fa0e = $(`<div id="html_9b2f739a2a9d34dcec81aac7df65fa0e" style="width: 100.0%; height: 100.0%;">Plac Navona</div>`)[0];
            popup_2cf0449ebbab0a90f4fffa1ff385e05a.setContent(html_9b2f739a2a9d34dcec81aac7df65fa0e);
        

        marker_983b424a07ee7ec0066c963449965034.bindPopup(popup_2cf0449ebbab0a90f4fffa1ff385e05a)
        ;

        
    
    
            var marker_4bc10e048b4ab5bd9f723db29a155bdf = L.marker(
                [41.8925, 12.4853],
                {}
            ).addTo(map_01ca4f05ece3aa1c23c2e6868b9c309a);
        
    
        var popup_9993684178fa3459bd738d3ab355132a = L.popup({"maxWidth": "100%"});

        
            var html_59653e94e0d276e7ad59f2bf0463b724 = $(`<div id="html_59653e94e0d276e7ad59f2bf0463b724" style="width: 100.0%; height: 100.0%;">Forum Romanum</div>`)[0];
            popup_9993684178fa3459bd738d3ab355132a.setContent(html_59653e94e0d276e7ad59f2bf0463b724);
        

        marker_4bc10e048b4ab5bd9f723db29a155bdf.bindPopup(popup_9993684178fa3459bd738d3ab355132a)
        ;

        
    
    
            var marker_b69a51ffa6fad1c0e33f6bf21817469d = L.marker(
                [41.9031, 12.4663],
                {}
            ).addTo(map_01ca4f05ece3aa1c23c2e6868b9c309a);
        
    
        var popup_e196c45be1614732cfc0dff30f957956 = L.popup({"maxWidth": "100%"});

        
            var html_028e0c232dc01137d74ab8f610859e4a = $(`<div id="html_028e0c232dc01137d74ab8f610859e4a" style="width: 100.0%; height: 100.0%;">Zamek Świętego Anioła</div>`)[0];
            popup_e196c45be1614732cfc0dff30f957956.setContent(html_028e0c232dc01137d74ab8f610859e4a);
        

        marker_b69a51ffa6fad1c0e33f6bf21817469d.bindPopup(popup_e196c45be1614732cfc0dff30f957956)
        ;

        
    
    
            var marker_cd4a6de2a7914ee5e365decd996b5523 = L.marker(
                [41.8955, 12.4722],
                {}
            ).addTo(map_01ca4f05ece3aa1c23c2e6868b9c309a);
        
    
        var popup_ef79ed9d23bb780e1ccc62f61b16a87b = L.popup({"maxWidth": "100%"});

        
            var html_4156366ad0cd2cf53da260316023a0dc = $(`<div id="html_4156366ad0cd2cf53da260316023a0dc" style="width: 100.0%; height: 100.0%;">Campo de' Fiori</div>`)[0];
            popup_ef79ed9d23bb780e1ccc62f61b16a87b.setContent(html_4156366ad0cd2cf53da260316023a0dc);
        

        marker_cd4a6de2a7914ee5e365decd996b5523.bindPopup(popup_ef79ed9d23bb780e1ccc62f61b16a87b)
        ;

        
    
</script>
</html>